In [2]:
import pandas as pd
data = pd.read_csv("Wholesale_Customers_Data.csv")
data.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [3]:
data.Region.value_counts()

3    316
1     77
2     47
Name: Region, dtype: int64

In [4]:
data.Channel.value_counts()

1    298
2    142
Name: Channel, dtype: int64

In [5]:
data.isnull().sum()

Channel             0
Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
dtype: int64

In [6]:
data.shape

(440, 8)

In [7]:
data.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [12]:
x = data.drop(["Region","Channel"],axis = 1)
y = data["Region"]
channel = data["Channel"]


from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3,random_state = 50)

from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier().fit(x_train,y_train)

from sklearn.metrics import accuracy_score

print("accuracy score on train: ", accuracy_score(y_train, dt.predict(x_train)))
print("accuracy score on test: ", accuracy_score(y_test, dt.predict(x_test)))

accuracy score on train:  1.0
accuracy score on test:  0.5378787878787878

In [13]:
print(pd.DataFrame(data = {"Original":y_test,"Predicted":dt.predict(x_test)}).head(10))

     Original  Predicted
98          3          3
259         1          3
29          3          3
223         1          3
415         3          3
264         1          3
318         2          3
268         1          3
160         3          2
398         3          1

In [14]:
x.shape

(440, 6)

In [16]:
from sklearn.preprocessing import StandardScaler
x_sc = pd.DataFrame(StandardScaler().fit_transform(x),columns= x.columns)

x_train, x_test, y_train, y_test = train_test_split(x_sc,y,test_size = 0.3,random_state = 50)

dt_sc = DecisionTreeClassifier().fit(x_train,y_train)

print("accuracy score on test: ", accuracy_score(y_test, dt_sc.predict(x_test)))

accuracy score on test:  0.5606060606060606

/Users/amit.panda03/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/amit.panda03/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [17]:
x_sc.head(10)

      Fresh      Milk   Grocery    Frozen  Detergents_Paper  Delicassen
0  0.052933  0.523568 -0.041115 -0.589367         -0.043569   -0.066339
1 -0.391302  0.544458  0.170318 -0.270136          0.086407    0.089151
2 -0.447029  0.408538 -0.028157 -0.137536          0.133232    2.243293
3  0.100111 -0.624020 -0.392977  0.687144         -0.498588    0.093411
4  0.840239 -0.052396 -0.079356  0.173859         -0.231918    1.299347
5 -0.204806  0.334067 -0.297637 -0.496155         -0.228138   -0.026224
6  0.009950 -0.352316 -0.102849 -0.534512          0.054280   -0.347854
7 -0.349981 -0.113981  0.155359 -0.289315          0.092286    0.369601
8 -0.477901 -0.291409 -0.185336 -0.545854         -0.244726   -0.275079
9 -0.474497  0.718495  1.151423 -0.394488          0.954031    0.203461

Perform PCA

In [18]:
from sklearn.decomposition import PCA

pca = PCA().fit(x_sc)
pca.explained_variance_ratio_

array([0.44082893, 0.283764  , 0.12334413, 0.09395504, 0.04761272,
       0.01049519])

In [37]:
pca_90 = PCA(n_components=0.8)
x_reduced = pca_90.fit_transform(x_sc)
x_reduced_df = pd.DataFrame(x_reduced, columns = ["PCA"+ str(i) for i in range(1,x_reduced.shape[1]+1)])
x_reduced_df.head(10)

       PCA1      PCA2      PCA3
0  0.193291 -0.305100 -0.140878
1  0.434420 -0.328413  0.319007
2  0.811143  0.815096  1.523416
3 -0.778648  0.652754  0.163012
4  0.166287  1.271434  0.066279
5 -0.156170 -0.295141  0.147612
6 -0.335288 -0.525003 -0.303195
7  0.140586 -0.230993  0.390010
8 -0.517320 -0.659363  0.182510
9  1.592109 -0.741011  0.210297

Build DT

In [38]:
x_train, x_test, y_train, y_test = train_test_split(x_reduced_df,y,test_size = 0.33, random_state = 500)

dt_pca = DecisionTreeClassifier().fit(x_train, y_train)

print("Accuracy on train: ", accuracy_score(y_train, dt_pca.predict(x_train)))
print("Accuracy on test: ", accuracy_score(y_test, dt_pca.predict(x_test)))

Accuracy on train:  1.0
Accuracy on test:  0.6164383561643836